.title {
  font-family: 'Kaushan Script', cursive;
  font-size:40pt;
  text-decoration:none;
  color:inherit;
}

.title:hover{
  color:black;
  text-decoration:none;
}

.title2{
  font-family: 'Kaushan Script', cursive;
}

.centerstage{
  margin-bottom:100px;
}

.menu{
  font-family: 'Bellota', cursive;
  font-size:20px;
  color:gray;
  margin-left:20px;
}

.loginlink:hover{
  color:black;
}

.todolist{
  font-family:'Walter Turncoat', cursive;
  color:gray;
}

.todolist:hover{
  color:inherit;
}
